{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
<footer class="site-footer">
  <div class="footer-top">
    <div class="validation-icons">
      <img src="{{ base_path}}themes/sjvn/images/stock-market.png" alt="stock-market">
    </div>
  </div>

  <div class="footer-links">
    {{ page.footer_top }}
  </div>

  <div class="footer-bottom">
    <div class="copyright">
      © 2025 SJVN Ltd. | Website Last Updated: {{ node.field_publication_date | date('d/m/Y') }}
    </div>
    <div class="visitor-count">
      Total Visitors: 23,378,286
    </div>
  </div>
</footer>
