:root {
  --primary-color: #009EDB;
  --secondary-color: #F6AD0A;
  --text-color: #02487B;
  --bg-light: #f9f9f9;
  --primary-light: #e6f7ff;
   --primary-light2: #cce4f7;
  --font-main: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', sans-serif;
  --font-alt: 'Arial', sans-serif;
}


:root.green-theme {
  --primary-color: #2e7d32;
  --secondary-color: #F6AD0A;
  --text-color: #222;
  --bg-light: #f9f9f9;
  --primary-light: #f6fdf6;
   --primary-light2: #ccf7d9;
}

:root.dark-theme {
  --primary-color: #222;
  --secondary-color: #444;
  --text-color: #eee;
  --bg-light: #111;
}
